{erl_opts, [debug_info]}.
{xref_checks, [undefined_function_calls]}.
{deps, [
	{jiffy, ".*", {git, "https://github.com/davisp/jiffy"}},
	{cowboy, ".*", {git, "https://github.com/extend/cowboy"}},
	{cowboy_session, ".*", {git, "https://github.com/dronowar/cowboy_session"}},
	{emodel, ".*", {git, "https://github.com/egobrain/emodel.git"}},
	{epgsql, ".*", {git, "https://github.com/epgsql/epgsql.git"}},
	{gproc, ".*", {git, "https://github.com/esl/gproc.git"}},
	{jsone, ".*", {git, "https://github.com/sile/jsone.git"}},
	{meck, ".*", {git, "https://github.com/eproxus/meck.git"}},
	{pgapp, ".*", {git, "https://github.com/epgsql/pgapp.git"}},
	{poolboy, ".*", {git, "https://github.com/devinus/poolboy.git", {branch, "master"}}},
	{redbug, ".*", {git, "https://github.com/massemanet/redbug.git"}},
	{sync, ".*", {git, "https://github.com/rustyio/sync.git"}},
	{uuid, ".*", {git, "https://github.com/travis/erlang-uuid.git", "f6a1cf9027e4af78b4a81201f4f6db1a822b8316"}}
]}.
{ct_opts,[{sys_config, ["./config/sys.config"]}]}.
