[
{pgapp, [
    {pools, [
        {pgdb, [
                {size, 5},
                {max_overflow, 20}
            ],
            [
                {host, "localhost"},
                {database, "erl"},
                {username, "postgres"},
                {password, "password"}
            ]}
        ]
    }]
},

{kernel, [
         { logger, [
                   {handler, default, logger_std_h, #{config => #{file => "./logs.log"}}}
                   ]
         }
         ]
}
].
